* {
  padding: 0;
  margin: 0;
}
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}
body {
  max-width: 1440px;
  margin: 0 auto;
  color: var(--slate);
  font-family: "Roboto", sans-serif;
}

/* Header */

.container {
  max-width: 1158px;
  margin: 0 auto;
}
.header-div {
  display: flex;
  align-items: center;
  padding: 25px 156px;
  border-bottom: 1px solid #e7e9fc;
  color: var(--slate);
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.span-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--slate);
}
.big-logo {
  margin-right: 76px;
}
.nav-div {
  margin-right: 332px;
}
.head-ancor {
  color: var(--slate);
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.head-ancor::after {
  content: "";
  position: absolute;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ocean-color);
}
.head-ancor:hover,
.head-ancor:focus {
  color: var(--ocean-color);
}
.underline-studio::after {
  display: block;
  content: "";
  width: 100%;
  max-height: 4px;
  border-radius: 2px;
  background: #404bbf;
  border: 1px solid #404bbf;
  position: absolute;
  left: 0;
  bottom: -25px;
}
.underline-portfolio::after {
  display: block;
  content: "";
  width: 100%;
  max-height: 4px;
  border-radius: 2px;
  background: #404bbf;
  border: 1px solid #404bbf;
  position: absolute;
  left: 0;
  bottom: -25px;
}
.nav-bar {
  display: flex;
  gap: 40px;
  font-weight: 700;
}
.nav-bar a:hover,
.nav-bar a:focus {
  color: var(--ocean);
}
.address {
  display: flex;
  gap: 41px;
}
.header-div a {
  text-decoration: none;
  font-style: normal;
}

/* Section 1 */

.hero-div {
  padding: 188px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--navy-blue);
  max-width: 1440px;
}
.styling {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
  max-width: 496px;
}
.hero-button {
  background-color: var(--iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  text-align: center;
  margin-top: 48px;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean);
  cursor: pointer;
}

/* Section 2 */
.skills-section {
  padding: 120px 0;
}
.skills {
  display: flex;
  gap: 24px;
  list-style: none;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 8px;
  height: 112px;
  background-color: var(--cloud);
}
.joker {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  margin-top: 20px;
}
.p-joker {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 16px 0;
}

/* Section 3 */

.what-we-do {
  padding-bottom: 120px;
}
.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 72px;
}
.img-div {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

/* Section 4 */

.who-we-are {
  background-color: var(--cloud);
  padding: 120px 0;
}
.img-li {
  border-radius: 0 0 4px 4px;
  background-color: var(--white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  border-radius: 4px;
}
.name-job {
  text-align: center;
  padding: 32px 0;
}
.media {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.link-media {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  min-height: 40px;
}
.link-media:hover,
.link-media:focus {
  background-color: var(--ocean);
}
.svg-media {
  color: var(--cloud);
}

/* Section 5 */

.customers-section {
  padding: 120px 0;
}
.customers-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 24px;
}
.list-of-six {
  min-width: calc((100% - 120px) / 6);
  min-height: 88px;
}
.the-six-elm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  color: var(--light-slate);
}
.the-six-elm:hover,
.the-six-elm:focus {
  color: var(--ocean);
  border-color: var(--ocean);
}
.svg-of-the-six {
  fill: currentColor;
}

/* Modal */

.modal-script {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  max-width: 408px;
  max-height: 584px;
  background: var(--dairy);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.modal-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-color: var(--cornflower);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 24px;
  right: 24px;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover,
.modal-close:focus {
  border: none;
  background-color: #404bbf;
  fill: #ffffff;
}
.modal-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.p-modal {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-form-div {
  margin-bottom: 8px;
}
.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.modal-label-div {
  position: relative;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;

  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #4d5ae5;
}
.modal-input:focus + .modal-form-svg {
  fill: #4d5ae5;
}
.modal-form-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea-div {
  margin-bottom: 16px;
}
.modal-textarea::placeholder {
  color: #8e8f99;
  padding-top: 10px;
  padding-left: 10px;
}
.modal-textarea {
  width: 100%;
  min-height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
  border-color: #4d5ae5;
}
.modal-five-div {
  margin-bottom: 24px;
}
.input-checkbox:checked + .label-checkbox span:first-child {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.label-checkbox {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.span-checkbox {
  min-width: 16px;
  min-height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.svg-checkbox {
  min-block-size: 10px;
  min-height: 10px;
}
.link-checkbox {
  color: #4d5ae5;
}
.modal-form-button {
  display: block;
  margin: auto;
  min-width: 169px;
  min-height: 56px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Footer */

.big-toe {
  background-color: var(--navy-blue);
  color: var(--white);
  padding: 100px 0;
}
.footer-div {
  display: flex;
  justify-content: space-between;
}
.logo-footer {
  display: block;
  margin-bottom: 18px;
  text-decoration: none;
}
.logo-span {
  color: var(--white);
}
.p-footer {
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.p-social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 18px;
}
.media-footer {
  margin-top: 18px;
  gap: 16px;
}
.link-f {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-f:hover,
.link-f:focus {
  background-color: var(--green);
}
.subscribe-div {
  display: flex;
  gap: 24px;
}
.subscribe-button {
  display: flex;
  background-color: var(--iris);
}
.input-footer {
  color: var(--white);
  min-width: 264px;
  min-height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
::placeholder {
  color: #ffffff;
}
.subscribe-button {
  color: var(--white);
  min-width: 165px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
}

/* Portfolio */

.porto-div {
  padding: 96px 0 120px 0;
}
.pushme-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  margin-bottom: 60px;
}
.push-me {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.push-me:hover,
.push-me:focus {
  color: #ffffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.main-ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  column-gap: 24px;
  margin-bottom: 48px;
}
.link-porto {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-porto:hover,
.link-porto:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.link-porto:hover .modal-p-img,
.link-porto:focus .modal-p-img {
  transform: translateY(0%);
}
.modal-div-img {
  position: relative;
  overflow: hidden;
}
.modal-p-img {
  /* display: none; */
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about-link {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: 0;
  margin-bottom: 8px;
}
.photo-line {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--slate);
  margin-bottom: 8px;
}
.p-line {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
